label.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

input[type="checkbox"] {
  display: none;
  opacity: 0;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border: 1px solid var(--green-medium);
  border-radius: 2px;
}

.fa-check {
  color: white;
  font-size: 10px;
}

.checked-checkbox {
  background-color: var(--green-medium) !important;
}
