.radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.radio-wrapper {
  border: 1px solid var(--grey-darker);
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
}

.hidden-radio {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.custom-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--green-medium);
  transition: background 0.3s, border-color 0.3s;
}

.checked-span {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--green-medium);
}

.radio-wrapper.selected {
  border: 1px solid var(--green-medium);
  background: var(--green-lighter);
}

.radio-wrapper:hover {
  border: 1px solid var(--green-medium); /* Atur border yang diinginkan saat fokus */
}

input[type="radio"] {
  width: 16px;
  height: 16px;
}

.radio-label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  cursor: pointer;
  height: fit-content;
}

@media screen and (min-width: 375px) {
  .radio-wrapper {
    padding: 16px;
  }
}
