@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red-primary: hsl(0, 66%, 54%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: var(--grey-medium);
  padding: 16px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Desktop */
@media screen and (min-width: 375px) {
  #root {
    width: 100vw;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
